.lat_head {
    background-color: teal;
    color: white;
}

.right_head {
    color: black;
    font-size: small;
}
    
/* Create hover on links*/
.hover1:hover {
    background-color: lightgray;
} 

.Header1 {
    color: teal;
    margin: 20px 0px 50px 100px;
}

.chart1 {
    margin: 0px 0px 0px 0px;
}

#body2 {
    
}

.para1{
    margin: 0px 0px 0px 0px;
}

.subhead{
    color: teal;
}

#MainHeader {
    display: inline;
}

#SecondaryHeader {
    display: inline;
}


