.lat_head {
    background-color: teal;
    color: white;
}

.right_head {
    color: black;
    font-size: small;
}
    
/* NEED HELP WITH THIS 

link_style:hover {
    background-color: lightgray;
}

*/

.Header1 {
    color: teal;
    margin: 20px 0px 50px 100px;
}

.chart1 {
    margin: 0px 0px 0px 0px;
}

#body2 {
    
}

.para1{
    margin: 0px 0px 0px 0px;
}

.subhead{
    color: teal;
}

#MainHeader {
    display: inline;
}

#SecondaryHeader {
    display: inline;
}

/* 
NEED HELP WITH THIS 
@Media - copied from class example
*/
@media (max-width: 700px) {
    #mainHeaderText {
        display: block;
    }
    
    #navbarU1{
        display: block;
    }

    #mainBody{
        width: 300px;
    }
}    

@media (max-width: 400px) {
    #mainHeaderText {
        display: block;
    }
        
    #navbarU1{
        display: block;
    }
    
    #mainBody{
        width: 200px;
    }
    
}